<mat-toolbar class="app-toolbar">
  <button mat-icon-button (click)="toggleSidenav()" class="sidenav-toggle" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="brand">
    <div class="brand__logo"><mat-icon>hub</mat-icon></div>
    <span class="brand__title">Prumo</span>
  </div>

  <span class="spacer"></span>

  <ng-container *ngIf="currentUser$ | async as user">
    <!-- Botão nativo em vez de mat-button: o mat-button embrulha o conteúdo num
         .mdc-button__label que o estilo do componente não alcança, e avatar, nome e
         chevron acabavam empilhados e sobrepostos. -->
    <button type="button" [matMenuTriggerFor]="userMenu" class="user-trigger"
            [attr.aria-label]="'Menu de ' + (user.fullName || user.email)">
      <span class="user-trigger__avatar">{{ (user.fullName || user.email)[0] | uppercase }}</span>
      <span class="user-trigger__info">
        <span class="user-trigger__name">{{ user.fullName }}</span>
        <span class="user-trigger__email">{{ user.email }}</span>
      </span>
      <mat-icon class="user-trigger__chev">expand_more</mat-icon>
    </button>
  </ng-container>

  <mat-menu #userMenu="matMenu" xPosition="before">
    <!-- "Configurações" ficou oculto: era um mat-menu-item sem (click), que não fazia
         nada. Decisão do backlog (item 6): ocultar em vez de inventar uma tela no MVP. -->
    <button mat-menu-item (click)="switchTenant()">
      <mat-icon>swap_horiz</mat-icon>
      <span>Trocar Tenant</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [opened]="sidenavOpened"
    [mode]="isMobile ? 'over' : 'side'"
    class="app-sidenav"
    (openedChange)="sidenavOpened = $event">
    <mat-nav-list>
      <ng-container *ngIf="currentUser$ | async as currentUser">
        <ng-container *ngFor="let section of menuSections">
          <ng-container *ngIf="hasVisibleItems(section)">
            <h2 matSubheader>{{ section.title }}</h2>

            <ng-container *ngFor="let item of section.items">
              <a
                mat-list-item
                *ngIf="hasAccess(item)"
                [routerLink]="item.route"
                routerLinkActive="active"
                (click)="onNavItemClick()">
                <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
                <span matListItemTitle>{{ item.label }}</span>
              </a>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="app-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
