<div class="dash-hub" *ngIf="currentUser$ | async as user">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel" color="primary" class="dash-hub__nav">
    <ng-container *ngFor="let tab of tabs">
      <a
        *ngIf="hasAccess(tab)"
        mat-tab-link
        [routerLink]="tab.route"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >{{ tab.label }}</a>
    </ng-container>
  </nav>
  <mat-tab-nav-panel #tabPanel class="dash-hub__panel">
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</div>
