<app-auth-shell title="New password" subtitle="Choose a password for your account" icon="password">
  <div class="auth-status auth-status--error" *ngIf="linkIsBroken; else formTemplate">
    <mat-icon>error_outline</mat-icon>
    <p class="auth-note">
      This link is incomplete. Request a new one from "Forgot my password".
    </p>
    <a mat-stroked-button class="auth-btn auth-btn--block" routerLink="/auth/forgot-password">
      Request a new link
    </a>
  </div>

  <ng-template #formTemplate>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="auth-form">
      <mat-form-field appearance="outline">
        <mat-label>New password</mat-label>
        <mat-icon matPrefix>lock_outline</mat-icon>
        <input matInput formControlName="password" type="password" autocomplete="new-password">
        <mat-error>At least 6 characters</mat-error>
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        class="auth-btn"
        [disabled]="isLoading || form.invalid">
        <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
        <span *ngIf="!isLoading">Save password</span>
      </button>
    </form>
  </ng-template>

  <div class="auth-links">
    <a routerLink="/auth/login">Back to sign in</a>
  </div>
</app-auth-shell>
