<app-auth-shell title="Forgot my password" subtitle="We will send you a link" icon="lock_reset">
  <ng-container *ngIf="!sent; else done">
    <p class="auth-note">
      Enter your account's e-mail. If the account exists, you will get a link to create a
      new password.
    </p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="auth-form">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <mat-icon matPrefix>mail_outline</mat-icon>
        <input matInput formControlName="email" type="email" autocomplete="email">
        <mat-error>Invalid e-mail</mat-error>
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        class="auth-btn"
        [disabled]="isLoading || form.invalid">
        <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
        <span *ngIf="!isLoading">Send link</span>
      </button>
    </form>
  </ng-container>

  <ng-template #done>
    <div class="auth-status auth-status--ok">
      <mat-icon>mark_email_read</mat-icon>
      <p class="auth-note">
        If there is an account with that e-mail, the link is on its way. It is valid for a
        limited time and can only be used once.
      </p>
    </div>
  </ng-template>

  <div class="auth-links">
    <a routerLink="/auth/login">Back to sign in</a>
  </div>
</app-auth-shell>
